/* Navigation bar */
.topnav {
  overflow: hidden;
  height: 40px;
  padding-top: 20px;
  margin-bottom: 50px;

  border-bottom: solid 1px #DDDDDD;
  box-shadow: 2px 2px 2px #AAAAAA;
}

/* LOGO Part */
.top_title {
  display: inline;
  padding: 20px 0px 20px 20px;
}

.top_title a {
  text-decoration: none;
  color: black;
}

ul {
  display: inline;
  list-style-type: none;
}

ul li {
  display: inline-block;
}

ul a {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 7px 10px 7px 10px;
}

ul a:hover {
  color:  #F76C6C;
}

/* Heading */
h2.title {
  text-shadow: 2px 2px #DDDDDD;
}

p.main_text {
  color: #222222;
}

#introduction {
  margin: auto;
  width: 98%;}

div.intro_unit {
  margin-bottom: 100px;
}

a.icon {
  text-decoration: none;
  color: black;
}

#work {
  margin: auto;
  width: 98%;}

#work_unit {
  height :300;
  border-width: 3;}

#body_part {
  margin-left: 10px;
  width: 100%;
}

.wrapper-main {
  width: 100%;
  overflow-x: hidden;
}
