#content {
  float: left;
  padding: 0;
  width: 68%;
}

.aside {
  float: right;
  width: 30%;
}

.section {
  line-height: 180%;
  letter-spacing: -0.2px;
  margin: auto;
  margin-bottom: 50px;
  width: 90%;
}

.box-img-title {
  margin-bottom: 50px;
}

.img-title {
  border-radius: 10px 10px 0 0;
  max-height: 350px;
  object-fit: cover;
  object-position: 0 30%;
  width: 100%;
}

.box-content_title {
  margin: auto;
  margin-bottom: 40px;
  width: 100%;
}

.img-in_post {
  border-radius: 5px;
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%
}

li {
  color: #333333;
}

/* line */
.line-dash {
  border: 1px dashed #999999;
}

/* text */
.fix-date{
  padding-left: 30px;
}

.txt-main {
  color: #333333;
  text-indent: 10px;
  margin-top: 0;
}

.txt-emp {
  background-color: #F5F5F5;
  color: #F76C6C;
  display: inline;
  font-weight: 600;
}

/* Headings */
h1 {
  font-size: 30px;
  color: #F76C6C;
}

h2 {
  font-size: 25px;
}

h3 {
  margin-top: 50px;
  font-size: 20px;
}

h4 {
  color: #333333;
  font-size: 15px;
  margin-bottom: 5px;
}