#content {
  background-color: white;
  border-radius: 0.5%;
  box-shadow: 1px 1px 1px #AAAAAA;
  padding: 0;
  width: 65%;
}

.aside {
  background-color: white;
  border-radius: 0.5%;
  box-shadow: 1px 1px 1px #AAAAAA;
  margin: 0 20px;
  padding: 20px 0;
  width: 30%;
}

.section {
  line-height: 180%;
  letter-spacing: -0.2px;
  margin: auto;
  margin-bottom: 50px;
  width: 90%;
}

.box-img-title {
  border-radius: 0.5%;
  margin-bottom: 50px;
}

.img-title {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  object-position: 0 100%;
}

.box-content_title {
  margin: auto;
  margin-bottom: 40px;
  width: 100%;
}

.fix-date{
  padding-left: 30px;
}

p {
  color: #333333;
  text-indent: 10px;
}

li {
  color: #333333;
}